.dash-footer-container {
    position: relative;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    font-weight: 600;
    width: 100%;
    border-top: 1px solid #ddd;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #fff;
}
