.dynamic-navigation {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  grid-column: 3/4;
  grid-row: 1/1;
  position: relative;

  @media (max-width: 320px) {
    display: none;
  }

  ul.dynamic-navigation-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    @media (max-width: 600px) {
      li:nth-child(1),
      li:nth-child(2) {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      gap: 10px;
    }

    li {
      position: relative;
      line-height: 1;
      display: flex;
      align-items: center;

      a {
        text-transform: capitalize;
        position: relative;
        padding-bottom: 2px;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          width: 0;
          bottom: -3px;
          background-color: red;
          height: 2px;
          transition: 0.5s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }

      &:last-child a {
        transition: 0.3s all ease;
        padding: 0.75rem;
        border: 1px solid #ff3c78;
        border-radius: 3px;
        background-color: #ff3c78;
        color: white;
      }

      &:last-child a:hover {
        background-color: white;
        color: black;
        border: 1px solid #000;
      }

      &:last-child a::after {
        display: none;
      }
    }
  }
}
