.movie-details-container {
  width: 100%;
  height: fit-content;

  .title {
    padding: 20px 0;
    background-color: #efebdb;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .banner {
    background-color: #231f20;

    .movie-trailer {
      width: 850px;
      height: 470px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      button.open-trailer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        cursor: pointer;
        background: transparent;
        border: 3px solid white;
      }

      img {
        object-fit: contain;
        width: 850px;
      }
    }
  }

  .wide-info-area {
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 50px;

    .wide-top {
      display: flex;
      align-items: start;

      .thumb {
        margin-right: 30px;

        img {
          width: 220px;
          object-fit: cover;
        }

        a {
          font-weight: 600;
          text-transform: capitalize;
          display: block;
          width: 100%;
          color: #cdc197;
          background-color: #231f20;
          padding: 15px 10px;
          text-align: center;
        }
      }

      .info-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
        }

        .genres {
          display: flex;
          align-items: center;
          gap: 5px;
          text-transform: capitalize;
        }
      }
    }

    .description {
      margin-top: 50px;

      .description-title {
        font-size: 24px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 20px;
      }

      .description-text {
        color: #333;
      }
    }
  }
}
