.reset-password-container {
    position: relative;
    height: 100vh;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;

    .content {
        padding: 20px;
        width: 500px;
        box-shadow: 0 25px 50px 5px rgb(0 0 0 / 0.25);
        overflow: hidden;
        backdrop-filter: blur(24px);
        border-top: 1px solid #ddd;
        background: #fff;

        .auth-content {
            width: 100%;

            .title,
            .sub-title {
                font-weight: 600;
                text-align: center;
                margin-bottom: 30px;
            }

            .title {
                font-family: 'Dancing Script', sans-serif;
                font-size: 50px;
            }

            .sub-title {
                font-size: 20px;
            }
        }

        form {
            width: 100%;

            button.btn-submit-reset-password {
                width: 100%;
                background-color: #f97417;
                color: white;
                font-size: 16px;
                font-weight: 600;
                padding: 20px;
                cursor: pointer;
                border-radius: 40px;
                text-transform: capitalize;
                transition: 0.5s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s ease;

                &:disabled {
                    cursor: no-drop;
                    background-color: #ddd;
                }
            }
        }
    }
}
