.toggle-header-button {
    width: fit-content;
    height: 30px;
    background-color: #f8f7f4;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    @media (min-width: 1001px) {
        display: none;
    }
}
