.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100%;

    @media (min-width: 1000px) and (max-width: 1400px) {
        grid-column: 1/2;
        grid-row: 1/1;
    }

    @media (max-width: 1000px) {
        grid-column: 2/3;
        grid-row: 1/1;
    }

    @media (min-width: 1400px) {
        grid-column: 2/3;
        grid-row: 1/1;
    }
}
