header {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ebebeb;

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 30px auto 82px;
    grid-template-rows: 100px;
    align-items: center;
    gap: 20px;

    @media (max-width: 400px) {
      padding: 0 20px;
    }

    @media (max-width: 500px) {
      gap: 0;
    }

    @media (min-width: 1001px) {
      grid-template-columns: 120px auto auto;
    }

    @media (min-width: 1400px) {
      grid-template-columns: 1fr 120px 1fr;
    }
  }
}
