.password-criteria {
    margin-top: 10px;

    .password-criteria-item {
        display: flex;
        align-items: center;
    }
}

.password-strength {
    margin-top: 30px;

    .password-strength-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25rem;

        .title {
            text-transform: capitalize;
            margin-bottom: 5px;
        }

        .title,
        .get-strength-text {
            color: gray;
            font-weight: 600;
        }
    }

    .password-strength-length {
        display: flex;
        gap: 5px;

        .password-strength-length-item {
            height: 0.5rem;
            width: 25%;
            transition-duration: 300ms;
        }
    }
}
